<h1><%= @landmark.name %></h1><br>

<form action="/landmarks/<%= @landmark.id %>" method="post">
	<input id="hidden" type="hidden" name="_method" value="patch">
	<label for="landmark_name">Name:</label><br>
	<input type="text" name="landmark[name]" id="name" value="<%= @landmark.name %>"><br>
	<label for="year_completed">Year Completed:</label>
	<input type="text" name="landmark[year_completed]" id="year_completed" value="<%= @landmark.year_completed %>"><br>
	<input type="submit" name="Edit Landmark" value="Edit Landmark">
</form>