<table>
  <tr>
    <th>Name</th>
    <th>Year Completed</th>
    <th>Figure</th>
  </tr>
  <tr>
    <td><%= @landmark.name %></td>
    <td><%= @landmark.year_completed %></td>
    <td><%= @landmark.figure.name if @landmark.figure %></td>
  </tr>
<table>
